.panel-default{
  background: #72bcd4;
  height: 120px;
  width: 80%;
  position: fixed;
  top: 0;
  left: 10%;
  padding-top: 10px;
  z-index: 99;
}
.container{
  padding-top: 150px;
}
.panel-body{
  font-size: 32px;
  padding: 20px;
  margin-left: 30px;
  color: #395e6a;
}
.glyphicon{
  margin-right: 30px;
}
.list-group-item{
  height: 175px;
  background: #e0e0e0;
  margin: 10px;
  position: relative;
}
.img-responsive {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 25px;
}
.contact-details{
  height: 10em;
  width: 10em;
  position: absolute;
}

.glypho {
  margin-left: 10em;
}
.glyphicon-phone {
  font-size: 2.4vw;
  margin-top: 90px;
  position: absolute;

}
.glyphicon-envelope {
  font-size: 2.4vw;
  margin-left: 3em;
  margin-top: 90px;
  position: absolute;
}
.glyphicon-trash{
  font-size: 2.4vw;
  margin-left: 9em;
  margin-top: 90px;
  position: absolute;
}
.glyphicon-pencil{
  font-size: 2.4vw;
  margin-left: 12em;
  margin-top: 90px;
  position: absolute;
}
.template{
  display:none;
}
h3{
  font-size: 2.5vw;
  margin-left: 150px;
  position: absolute;
}
